@import "tailwindcss";
@tailwind utilities;

:root {
  /* DARK */
  --bg-color: #0f172a;
  --card-bg: #1e293b;
  --text-primary: #f8fafc;
  --text-secondary: #94a3b8;
  --accent-primary: #3b82f6;
  --accent-success: #22c55e;
  --accent-danger: #ef4444;
  --accent-warning: #f59e0b;
  --border-color: #334155;
}

/* LIGHT */
[data-theme="light"] {
  --bg-color: #f1f5f9;
  --card-bg: #ffffff;
  --text-primary: #0f172a;
  --text-secondary: #64748b;
  --accent-primary: #2563eb;
  --accent-success: #16a34a;
  --accent-danger: #dc2626;
  --accent-warning: #d97706;
  --border-color: #e2e8f0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-primary);
  margin: 0;
  font-family: "Inter", sans-serif;
  transition: all 0.3s ease;
}

.card {
  background-color: var(--card-bg);
  border: 1px solid var(--border-color);
  border-radius: 12px;
  padding: 20px;
}
